@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200;0,300;0,400;1,500;1,600;0,700;1,800;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #232830;
}

header {
  padding: 1rem;
  width: 100vw;
  height: auto;
  color: #fff;
  border-bottom: 3px solid #4d4d4d;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

nav > p {
  font-size: 30px;
  margin-bottom: 2rem;
}

nav > p > a {
  text-decoration: none;
  color: #fff;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 24px;
}

li > a {
  text-decoration: none;
  color: #fff;
}

.logo {
  margin: 1rem 0;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo > img {
  width: 195px;
  height: 205px;
  transform: translateX(30px);
}

.logo > figcaption:first-of-type {
  font-size: 71px;
  font-weight: 400;
  font-style: italic;
  color: #ff7575;
  font-family: "Recursive", sans-serif;
}

.logo > figcaption:last-of-type {
  font-size: 29px;
  font-weight: 400;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

main {
  border-bottom: 3px solid #4d4d4d;
}

#categories {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  position: relative;
  height: 65px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.img-container {
  display: flex;
  gap: 10px;
}

.img-container > img {
  width: 24px;
  height: 24px;
}

#categories > p {
  font-size: 27px;
  font-style: italic;
  font-weight: 400;
  font-family: "Recursive", sans-serif;
  color: #909090;
}

#categories::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, transparent, #232830);
}

.card-container {
  padding: 1.5rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  row-gap: 1.5rem;
}

.card {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 22px;
  padding: 1rem;
  gap: 1rem;
}

.card > img {
  width: 100%;
  height: auto;
}

.card > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 19px;
  color: #0f1217;
}

.card > p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0f1217;
  text-align: justify;
}

.card > p.date {
  text-align: left;
  margin-left: 0;
  display: block;
}

.pages-container {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.pages-container > p {
  font-family: "Recursive", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
  color: #909090;
}

.pages-container > p > span {
  display: inline-block;
  transform: translateY(-2.5px);
  width: 150%;
  color: #ff7575;
  border-top: 3px solid #ff7575;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.kamrify-mention {
  background-color: #4699e0;
  border-radius: 5px;
  color: #fff;
  /* * don't forget to change the style to make it like a button */
}

/* todo: don't forget to make the follow writingsdev p element like a button */
