@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200;0,300;0,400;1,500;1,600;0,700;1,800;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #232830;
}

header {
  padding: 1rem;
  width: 100vw;
  height: auto;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

nav > p {
  font-size: 30px;
  margin-bottom: 2rem;
}

nav > p > a {
  text-decoration: none;
  color: #fff;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 24px;
}

li > a {
  text-decoration: none;
  color: #fff;
}

.logo {
  margin: 1rem 0;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo > img {
  width: 195px;
  height: 205px;
  transform: translateX(30px);
}

.logo > figcaption:first-of-type {
  font-size: 71px;
  font-weight: 400;
  font-style: italic;
  color: #ff7575;
  font-family: "Recursive", sans-serif;
}

.logo > figcaption:last-of-type {
  font-size: 29px;
  font-weight: 400;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
